@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans", sans-serif !important;
  box-sizing: border-box;
}


@layer utilities {
  .scrollbar,
  #myTable {
    &::-webkit-scrollbar {
      width: 5px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #d3d3d3;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:active {
      background-color: #c7c7c7;
    }
  }
}
.sider {
  position: fixed !important;
}

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("https://img.freepik.com/free-photo/gray-scale-shot-black-watch_181624-422.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .right-bar {
    margin-left: 55px !important;
  }
}

@media (width: 992px) {
  .right-bar {
    margin-left: 230px !important;
  }
}

@media (min-width: 1100px) {
  .general {
    display: grid;
    grid-column-gap: 57px !important;
  }
}

@media (min-width: 1540px) {
  .general {
    display: grid;
    gap: 120px !important;
  }
}

@media (min-width: 1800px) {
  .general {
    display: grid;
    gap: 200px !important;
  }
}


.header {
  width: -webkit-fill-available !important;
}

.header {
  transition: height 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}


.pagination {
  position: sticky;
  bottom: 0;
}


.ant-table-wrapper .ant-table-pagination-right {
  justify-content: center;
}

.ant-table-thead .ant-table-cell {
  background-color: #f5f5f5 !important;
  color: black !important;
}
